.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navItems {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.navItem {
  margin: 0 10px;
}

.ribbon svg {
  width: 16px;
  height: 16px;
  fill: #fff;
  margin-right: 5px;
}

.horizontalBar {
  width: 100%;
  height: 4em; /* Adjust the height as needed */
  position: relative;
  background: linear-gradient(-45deg, black 20%, white 20%, white 21%, red 10%);
  display: flex;
  align-items: center;
  justify-content: center;

}

.horizontalBar span {
  color: white;
  font-weight: bold;
}
.redBar {
  margin-left: 65em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  height: 100%; /* Ensure the redBar div takes up the full height of the horizontalBar */
}

.phone {

  display: flex;
  align-self: center;
}

.spacer {
  margin-left: 10em;
}